@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:500,300,700,400");
html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}

.header {
 padding: 15px;
}

.header img {
   display: inline-block;
}

.header h1 {
   /*display: inline-block;*/
}

.main {
 background-color: #f2f2f2 ;
 padding: 40px 0;
}

.main h1 {
 color: #F65A5B ;
 font-size: 30px;
 /*margin: 0 0 20px 0;*/
 /*padding: 20px 20px;*/
   line-height: 60px;
   width: 50%;
}

.main h2 {
 background-color: navajowhite;
 border-radius: 10px;
 color: #999999 ;
 font-size: 20px;
 /*margin: 0 0 40px 0;*/
 padding: 20px 20px;
}

.thumbnail {
 border: 0px;
 position: relative;
 padding: 50px;
   border-radius: 0;
   margin-bottom:50px;
}

.thumbnail img {
   margin-top: 1);
 margin-bottom: 12px;
 max-width: 100%;
 border-radius: 5%;
}

.title,
.date {
 color: #444;
 margin: 0;
 font-size: 18px;
   font-weight: 800;
}

.date {
   color: #a3a3a3 ;
   font-size: 14px;
   font-weight: 200;
}

.price {
 background-color: #39D1B4 ;
 color: #fff;
 font-size: 18px;
   border-radius: 50%;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   font-weight: 200;
   height: 80px;
   line-height: 80px;
   text-align: center;
   width: 80px;
 position: absolute;
 top: -40px;
 right: 20px;
}

.likes,
.dislikes {
   background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
 margin: 0 -30px 0 40px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.likes:hover,
.dislikes:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.footer {
 text-align: center;
 /*margin: 80px 0 110px;*/
}

.footer h2 {
 font-size: 20px;

}
.footer img {
    width: 115px;
}

.container {
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
}
/*mobile friendly*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
